@*AJAX VE JQUERY ile cozulebilirmis burayi*@

<div class="tech-btm">
    <h4>Sign up to the newsletter</h4>
    <p>Get my newest tech, story and other posts</p>
    <form action="~/Views/NewsLetter/SubscribeMail/"  method="post">
        <input type="email" placeholder="Email" required="" name="Mail">
        <input type="submit" value="Subscribe">
    </form>

</div>